* {padding: 0;margin: 0;box-sizing: border-box;list-style: none;transition: all .2s ease-out;}
/* fonts */
@font-face{src:url('fonts/Oswald-Medium.ttf');font-family: 'Oswald-Medium'}
@font-face{src:url('fonts/Raleway-Regular.ttf');font-family: 'Raleway-Regular'}
@font-face{src:url('fonts/Poppins-ExtraBold.ttf');font-family: 'Poppins-extrabold'}
@font-face{src:url('fonts/Poppins-Medium.ttf');font-family: 'Poppins-medium'}

body{font-size: 62.5%;overflow-x: hidden;}
img{max-width: 100%;}

/* communs */
p,a,span,input,li,label{font-family: 'Raleway-Regular',sans-serif; font-size: 1rem;color: #4c5775; }
a.smal {font-size: .7rem;color: #4c5775;text-decoration: underline;cursor: pointer;}
.container {    max-width: 1200px;margin: 0 auto;width: 90%;padding: 1rem;}
.flex{display: flex; align-items: flex-start; }
.extremos {justify-content: space-between;}
.relative{position: relative}
.wrap{flex-wrap: wrap}
.center{text-align: center;}
.flex.center{align-items: center}

.title,.big-text{font-family: 'Oswald-Medium',sans-serif;   font-weight: 100;  font-size: 2.3rem;color: #4c5775; }
.subtitulo{font-family:'Quicksand-bold',sans-serif; font-size: 1.2rem }
/* form */
label{display: block; margin: 1rem 0}
input:not([type="checkbox"]):not([type="button"]):not([type="submit"]), textarea {width: 100%;border: 1px solid #4c5775;padding: .8rem 1.3rem;font-size: .9rem;margin: .2rem 0;border-radius: 5px;font-family: 'Raleway-Regular',sans-serif;}
/* buttons */
.button{font-size: .9rem;font-family: 'Poppins-Medium',sans-serif;display: block;padding: .8rem 1.5rem;text-transform: uppercase;border: none;box-shadow: 1px 1px 8px -4px #000000;border-radius: 5px;background: #FFF; color: #4c5775;cursor: pointer;width: -moz-fit-content;width: -webkit-fit-content;width: fit-content;text-decoration: none;letter-spacing: .5px;transition: all .5s;}
    .button.disabled{color: #bebebe;box-shadow: none;filter: saturate(0);pointer-events: none;letter-spacing: 1px;}
    .button.principal{color: #fff;background: #63DD72;}
.box-buttons .button.button.principal{margin-right: 3rem}
.button:hover{text-decoration: underline}
.button.clear {background: none;border: 2px solid;/* width: 100px; */width: -moz-fit-content;width: fit-content;text-align: center;}
.button.signup{background:linear-gradient(to right, #92DBFF, #81A8F3); color: #FFF; margin: 1rem 0}
.button.signup:hover{    background: linear-gradient(to right, #81a8f3, #5287ec);}
.button.contact{background:linear-gradient(to right, #5647E6, #B465FA); color: #fff}
.button.contact:hover{background:linear-gradient(to right, #5647E6, #a192ff)}
.button.unline {font-size: .8rem;text-align: center;margin: 0 auto;text-decoration: underline;}
/* cabecalho */
.cabecalho{  padding-top:1rem;  margin-top: 1rem;position: relative}
.cabecalho nav {display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;text-transform: uppercase;}
.cabecalho .img-topo {position: absolute;bottom: 83%;left: 50%;transform: rotate(-7deg);}
.menu a, .lang a{text-decoration: none; color: #4C5775;  letter-spacing: .5px; font-size: .9rem}
.menu a{padding: .5rem 1rem}
.menu a:hover{text-decoration: underline}
.cabecalho .login{color: #A192FF;padding: .3rem 1rem;font-size: .7rem;width: initial;}
.logo{    max-width: 220px;}
.lang {position: absolute;bottom: 90%;right: 18px;   display: flex;align-items: center;justify-content: space-between;}
    .lang a {padding: .5rem;font-size: .8rem;}
    .lang .ativo {display: flex;border: 1px solid;border-radius: 100%;width: 25px;height: 25px;
        align-items: center;justify-content: center;font-size: .7rem;    color: #fff;
        background: #63DD72;}


/* HERO */
.hero {margin-top: 3.5rem;position: relative;}
.hero .lista {margin: 2rem 0 5rem; max-width: 530px;}
.hero .img{    position: absolute;right: -150px;top: 0;max-width: 710px;}
.hero .box.flex {position: relative;align-items: center;height: 500px;margin-bottom: 6rem;}
.hero .bg {position: absolute;width: 103%;max-width: 110%;top: 100px;     z-index: -999999;}
.lista li{    margin: 1rem 0 3rem; }
.lista p, .lista span{line-height: 2.2rem;font-size: 1.1rem;letter-spacing: 1px;}
.lista p{width: calc(100% - 30px - .5rem);}
.lista span {padding: .5rem;width: 30px;text-align: center;height: 30px;margin: 0 .5rem 0 0;border-radius: 100%;display: flex;justify-content: center;background: #4c5775;line-height: inherit;color: #fff;align-items: center;}

/* legal */
ul.list {display: table;padding: .5rem 1.5rem;margin: 1rem 0;}
.list a {display: block;margin: .5rem 0 1rem;padding: .5rem 0;cursor: pointer;     font-size: .9rem;color: #5287ec;letter-spacing: 1px}
.list a.ativo {font-weight: bolder}
.list a:hover {text-decoration: underline}
.big-text strong{font-family: 'Poppins-extrabold'}
.container aside {width: 300px;float: left;margin-right: 5rem;}
#legal{    margin-top: 5rem;}
#legal h1{font-size: 2rem; color: #4c5775; margin-bottom: 1.5rem; font-weight: 900}
#legal h3{    font-size: 1.5rem;font-weight: 100;}
#legal h2{font-size: 1.3rem;color: #4c5775; font-weight: 200}
#legal h1, #legal h2, #legal h3{font-family: 'Raleway-Regular',sans-serif;     margin: 1rem 0 }
#legal .texto {margin: 0 auto;width: calc(100% - 300px - 3rem);}
#legal p {margin: 0 0 1.5rem;line-height: 1.9rem;}
.container aside {width: 250px;margin-right: 3rem;position: sticky;border-radius: 10px;top: 30px;}
.bg{width: 100%; pointer-events: none}
/* HOWTO */
#howto {margin-top: 7rem;}
#howto .subtitulo {font-size: 2rem;margin:3.5rem auto 1rem;display: block;text-align: center; font-family:'Poppins-medium','sans-serif';    color: #92dbff; }

.box-titulo p.descricao {max-width: 750px;margin: 1rem auto 0;text-align: center;line-height: 2.2rem;letter-spacing: 1px;}
.lista.tarantullas {width: 100%;display: table;}
.lista.tarantullas img {max-width:175px;margin: 1rem 0 1.5rem;}
.lista.lista.tarantullas p,.lista-cases p {font-size: .9rem;line-height: 1.6rem;margin-bottom: 1.6rem; text-align: center}
.lista.tarantullas li {width: 100%;max-width: 400px;float: left;display: flex;align-items: center;flex-direction: column;margin-bottom: 0; position: relative;}
.lista.tarantullas li:nth-child(2) {float: right;}
.lista.tarantullas li:nth-child(3) {    clear: both;margin: 0 auto;float: unset;}
.lista.tarantullas li:nth-child(5) {float: right;   }
.lista.tarantullas li.comments {padding: 1.5rem;margin-top: 3rem; font-weight: 800;}
.lista.tarantullas .button{display: flex; align-items: center;    padding: .5rem 1rem;}
.lista.tarantullas .button .git{background: url(./img/github-logo.png) no-repeat center;     background-size: cover;}
.lista.tarantullas li .quote{    background: url(./img/quotes.png) no-repeat center;background-size: contain;width: 46px;border-radius: 0;position: absolute;left: -12px;top: -10px;}
#doSelf .bg{    position: absolute;z-index: -9999;    bottom: 40%;max-width: 400px;right: 85%;}
#wedoing .bg{    position: absolute;width: 400px;left: 90%;z-index: -9999; }
#wedoing {padding-top: 3rem;}
#wedoing .subtitulo{text-align: left; color: #4C5775;     font-weight: 200;font-size: 3rem;}
#wedoing p{    max-width: 350px;font-size: .9rem;line-height: 1.6rem;margin-bottom: 1.6rem;}
#wedoing input[type="submit"]{margin-top: 2rem}
form.formToUs {max-width: 350px;}


/* FOOTER */
.box-contato p{margin-right: 1rem; font-family:Poppins-SemiBold,sans-serif;color: #A192FF }
.rodape img.bg {position: absolute;z-index: -9;bottom: 0;max-height: 500px}
.mini-chamada,.mini-chamada a{font-family:'Poppins-SemiBold',sans-serif; font-size: 1.7rem; text-align: center; margin: 2.5rem 0}
.suporte,.suporte a{font-family:'Poppins-SemiBold',sans-serif; font-size: 1rem; text-align: center; margin: 2.5rem 0}
.link.min {    font-size: .8rem;text-align: center;display: flex;align-items: center;margin: 0 auto;justify-content: center;color: #4c5775;padding: 2rem 0;}
.link.min a{font-size: .8rem;max-width: 50px;height: 15px;margin-left: .2rem;display: inline-block;}

/* .rodape */
.rodape {margin-top: 5rem; background-color: #273351}
.rodape .mini-chamada {font-size: 1rem;color: #eaeaea;}
.rodape .mini-chamada a{color: #92DBFF; font-size: 1rem}
.rodape .link.min{color: #fff; margin: 0}
.rodape .link.min img {filter: brightness(1%) invert(1);}
.rodape .final{align-items: center; max-width:95%; margin: 0 auto}
.rodape a{color: #fff}
.rodape .group-link a {text-decoration: none;margin: 0 1rem;cursor: pointer;font-size: .7rem;letter-spacing: 2px;}

/* TERMOS */
/* #termos{max-width: 900px;} */
#termos .box-two-cols {display: table; position: relative;}
.estrutura .subtitulo{    color: #4c5775;font-size: .9rem;}
.col-text {width: calc(100% - 300px); float: right}
#termos p {line-height: 1.7rem;font-size: .9rem;margin-bottom: .5rem;}
#termos strong {    font-size: 1.3rem;    margin: 0 0 .3rem;
    padding: 20px 0 0;display: block; font-family:'Poppins-medium',sans-serif;     color: #4c5775;
font-weight: 100;  letter-spacing: 1px;}

#termos .estrutura a {padding: .3rem 0;letter-spacing: 1px;display: block;line-height: 1.3rem;font-size: .8rem;}
#termos ul{margin-top: 1rem; margin-left: .3rem} 

/*  CaSES */
#cases{    width: -moz-fit-content;width: fit-content;margin: 0 auto;    padding: 5rem 0 2rem;}
.lista-cases {    margin: 5rem 0 2rem;}
.lista-cases p {text-align: left;     margin-bottom: .5rem;}
.projects{    margin-right: 5rem;max-width: 400px;}
.projects .img{max-width: 200px;     margin: 0 0 .5rem;}
.testimony {    padding: 2rem 2rem 2rem 3.5rem;box-shadow: -1px 1px 9px -2px #80808052;max-width: 500px;border-radius: 5px;}
.testimony a{    font-size: .9rem;}
.testimony .quote{background: url(img/quotes.png) no-repeat center;width: 28px;height: 28px;filter: grayscale(1) brightness(2.5);background-size: contain;display: block;position: absolute;left: -40px;top: -5px;}


[data-action-form="login"] .formLogin{display: block}
[data-action-form="cadastrar"] .formCadastrar{display: block}

    @media screen and (max-width:1100px){
        .hero .img {    position: relative;right: 0;margin-top: 3rem;}
        .hero .box.flex {height: inherit;margin-bottom: 1rem;}
        #howto {margin-top: 0;}
        .button {text-align: center;font-size: .8rem;padding: .5rem .7rem;}
        #legal .texto {margin: 0;width: 100%;}
    }
    @media screen and (max-width:700px){
        .hero .bg{right: 0;}
        .button {
            text-align: center;
            font-size: .9rem;
            margin: .8rem 0;
            padding: .8rem 1rem;
        }
        #wedoing .subtitulo {font-size: 2rem;}
        .lista.tarantullas li:nth-child(2) ,.lista.tarantullas li {float: none;margin: 3rem auto;}
            #wedoing .bg {left: inherit; width: 250px;right: 0;opacity: .5;}
        #doSelf .bg {bottom: 50%;max-width: 300px;right: inherit;}
        .rodape {margin-top: 5rem;background-color: #273351;padding: 2rem;}
        .rodape .mini-chamada {margin: 3rem auto 1rem;}
        .rodape .link.min {margin: 0 auto;}
        .group-link {display: table;margin: 0 auto;}
        .container{overflow: hidden; width: 100%}
        .hero {margin-top: 1rem;}
        .big-text{font-size: 1.5rem;width: 100%}
        .flex{flex-wrap: wrap}
        .cabecalho .img-topo {bottom: 100%;left: 0;}
        .box-texto p {font-size: .9rem;letter-spacing: 1px;line-height: 1.5rem;}
        .title {font-size: 1.5rem;padding: 1rem 0 0}
        .dash img,.features img {max-width: 100px;margin: 0 auto;}
        .features .text {margin-left: 0;text-align: center;}
        .features {display: table;margin: 1rem 0}
        .plans .individual-plans {padding: 1rem;width: 100%;margin: 1rem 0;}
        .plans p {    font-size: .8rem;line-height: 1.3rem;}
        .sets li {margin: .75rem 0;font-size: .9rem;}
        .lista-votacao label {align-items: flex-start;    font-size: .9rem; }
        .lista-votacao li {flex-wrap: wrap}
        .box-contato {padding: 1rem;flex-wrap: wrap;text-align: center;border-radius: 12px;}
        .box-contato p {font-size: .9rem;margin: 0 0 0.5rem;}
        .button.signup {margin: 1rem auto;}
        .menu a {padding: .5rem 1rem;font-size: .7rem;display: block;}
        .logo {max-width: 220px;margin: 0 auto 1rem;}
        .cabecalho .login {margin: 2rem auto 0;}
        .box-plan .title {padding-top: 1rem;}
        .modal.ativo{display: block;     overflow-y: auto !important}

        .modal .board {flex-wrap: wrap;margin: 2rem auto}
        .branding,.board-user{width: 100%}
        .branding {display: none;}
        [data-action-form="login"] .board-user {border: 10px solid #75f8ad;}
        [data-action-form="cadastrar"] .board-user {border: 10px solid #9eccfe;}
        .workspace{    flex-wrap: nowrap;}
        .modal .workspace input{    width: 50% !important}
        .modal .workspace span{    word-break: break-word;}
        img#__lpform_nome_icon{opacity: 0 !important;}

        .projects {margin: 0 0 1rem;}
        .lista-cases {margin: 2rem .5rem 0;}
        #cases{padding: 0}
    }
